<div class="modal-header">
    <h3 class="modal-title">Album Form</h3>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" ng-model="$ctrl.album.Title" />
        </div>
        <div class="form-group">
            <label>Artist</label>
            <input type="text" class="form-control" ng-model="$ctrl.album.Artist" />
        </div>
        <div class="form-group">
            <label>Year</label>
            <input type="number" class="form-control" ng-model="$ctrl.album.Year" />
        </div>
        <div class="form-group">
            <label>Record</label>
            <input type="text" class="form-control" ng-model="$ctrl.album.Record_label" />
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="$ctrl.onSave()">Save</button>
</div>