<div class="album">
    <div class="list-group-item">
        <div class="list-group-item-heading">
            <h4 class="title">{{$ctrl.album.Title}}</h4>
            <div class="button-group">
                <span class="fa fa-pencil edit-button" ng-click="$ctrl.edit()"></span>
                <span class="fa fa-trash delete-button" ng-click="$ctrl.delete()"></span>
            </div>
        </div>
        <p class="list-group-item-text">{{$ctrl.album.Artist}}</p>
        <small>{{$ctrl.album.Record_label}} - {{$ctrl.album.Year}}</small>
    </div>
</div>