<div class="list-group-item">
    <div class="list-group-item-heading" style="margin-top: 5px;">
        <h4 style="display: inline-block; margin: 0;">{{$ctrl.album.Title}}</h4>
        <div style="float: right">
            <span class="fa fa-pencil" style="margin-right: 5px; cursor: pointer;" ng-click="$ctrl.edit()"></span>
            <span class="fa fa-trash" style=" cursor: pointer;" ng-click="$ctrl.delete()"></span>
        </div>
    </div>
    <p class="list-group-item-text">{{$ctrl.album.Artist}}</p>
    <small>{{$ctrl.album.Record_label}} - {{$ctrl.album.Year}}</small>
</div>